.projects {
  padding: 50px 80px 0 80px;
  background-color: #2274a5ff;
  color: #e9f1f7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__title {
  text-align: center;
  margin-bottom: 65px;
  max-width: 500px;
  font-size: 28px;
}

.projects__title_type-decorated {
  font-family: 'Caveat', cursive;
  font-size: 40px;
  font-weight: 400;
  color: #a1d8f9;
}

.projects__projects-list {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.projects__list-item {
  width: 45%;
}

.projects__image {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.projects__item-title {
  margin-bottom: 10px;
  padding-left: 10px;
}

.projects__item-info {
  padding-left: 20px;
  list-style: lao;
}

.projects__text {
  margin-bottom: 6px;
}
