.mobile-menu {
  margin-left: auto;
  position: relative;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu__toggle {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  z-index: 10;
}

/* Полоски иконки */

.mobile-menu__icon {
  position: relative;
  background-color: #fff;
  height: 3px;
  width: 28px;
  transition: all 0.4s ease;
  z-index: 9;
}

.mobile-menu__icon::before,
.mobile-menu__icon::after {
  content: '';
  position: absolute;
  top: -10px;
  background-color: #fff;
  width: 28px;
  height: 3px;
  transition: all 0.4s ease;
}

.mobile-menu__icon::after {
  top: 10px;
}

/* Иконка при отмеченом чекбоксе */

.mobile-menu__toggle:checked + .mobile-menu__icon {
  background-color: #ffffff00;
  position: fixed;
}

.mobile-menu__toggle:checked + .mobile-menu__icon::before {
  top: 0;
  width: 22px;
  transform: rotate(45deg);
}

.mobile-menu__toggle:checked + .mobile-menu__icon::after {
  top: 0;
  width: 22px;
  transform: rotate(135deg);
}

/* Меню */

.mobile-menu__menu {
  position: fixed;
  top: 0;
  right: -520px;
  background-color: #855a43;
  width: 520px;
  height: 100%;
  transition: all 0.8s ease;
  padding-top: 159px;
  z-index: 8;
  opacity: 0.97;
}

.mobile-menu__toggle:checked ~ .mobile-menu__menu {
  right: 0px;
}

@media screen and (max-width: 520px) {
  .mobile-menu__menu {
    width: 100%;
    right: -100%;
  }
}

@media screen and (max-width: 420px) {
  .mobile-menu__icon,
  .mobile-menu__icon::before,
  .mobile-menu__icon::after {
    width: 22px;
  }

  .mobile-menu__menu {
    padding-top: 144px;
  }
}
