.scroll-to-top-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 35px;
  height: 35px;
  color: #0e4b80cf;
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

.scroll-to-top-button:hover {
  transform: scale(1.1);
  filter: contrast(1.2);
}
