.greeting {
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.greeting__avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 40px;
}

.greeting__article-container {
  width: 500px;
}

.greeting__title {
  font-weight: 300;
  padding-top: 35px;
  margin-bottom: 15px;
}

.greeting__title_type_enlarged {
  font-size: 45px;
  font-weight: 500;
  line-height: 1.5;
}

.greeting__waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.greeting__title_type_decorated {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  color: #c3423f;
}

.greeting__text {
  margin-bottom: 40px;
  font-weight: 200;
  font-size: 18px;
}

.greeting__buttons-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.greeting__link {
  min-width: fit-content;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.greeting__link_type_github {
  background-color: #885b44;
}

.greeting__link_type_cv {
  background-color: #c3423f;
}

.greeting__button:hover,
.greeting__link:hover {
  filter: contrast(1.2);
  transform: translateY(-2px);
}

.greeting__success-icon {
  width: 29px;
  height: 29px;
  color: #49b349;
  opacity: 0;
  transition: all 1s ease;
}

.greeting__success-icon_shown {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .greeting {
    padding: 0 30px;
  }

  .greeting__avatar {
    width: 250px;
    height: 250px;
  }
}
